<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Определение страны по номеру телефона</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/toast.css">
</head>
<body>
    <div id="toast-container"></div>
    <!-- Форма для ввода номера телефона -->
    <div class="container mt-5">
        <form id="phoneNumberForm">
            <div class="form-group">
                <label for="phoneNumber">Введите номер телефона:</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
            </div>
            <div class="form-group" style="margin-top: 16px;">
                <button type="submit" class="btn btn-primary">Определить страну</button>
            </div>
        </form>
    </div>

    <!-- Всплывающий попап о куки -->
    <div id="cookiePopup" class="popup d-none">
        <p>На этом сайте используются куки. Нажмите кнопку "Принять", чтобы закрыть это уведомление.</p>
        <button id="acceptCookies" class="btn btn-success">Принять</button>
        <button id="closePopup" class="btn btn-secondary">Закрыть</button>
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="assets/js/toast.js"></script>
    <script src="assets/js/task.js"></script>
</body>
</html>
